.section3
{
    display: flex;
    width: 100%;
height: 15vw;
justify-content: center;

}

.section3box
{
    position: absolute;
    display: flex;
    justify-content: space-around;
   
width: 92%;
height: 14vw;
background: linear-gradient(180deg, #FFC100 0%, #E8AF00 100%);
border-radius: 45px;
}

.section3box_p1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section3box_p12
{

font-family: 'Bebas_Neue';
font-style: normal;
font-weight: bolder;
font-size: 5.5vw;
color: #FFFFFF;
margin-bottom: 0.2vw;
}

.section3box_p13
{
    
    font-family: 'Gilroy-Bold';
    font-size: 2.5vw;
    margin-top: -2vw;
    color: #102754;
     margin-bottom: 1vw;  
}


.hey

{
  position: relative;
    display: flex;
    justify-content: center;
   
/* width: 92%; */
display: flex;
height: 200px;
background: linear-gradient(180deg, #FFC100 0%, #E8AF00 100%);
border-radius: 45px; 
}

.smile
{
    position: relative;
    z-index: 1;
    top: 5vw;
    left: 1vw;
    animation: smile 1s ease infinite ;
}


@-webkit-keyframes smile
{
    16.65% {
      -webkit-transform: skew(-8deg);
      transform: skew(-8deg);
    }
    33.3% {
      -webkit-transform: skew(6deg);
      transform: skew(6deg);
    }
    49.95% {
      -webkit-transform: skew(-3deg);
      transform: skew(-3deg);
    }
    66.6% {
      -webkit-transform: skew(2deg);
      transform: skew(2deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes smile{
    16.65% {
      -webkit-transform: skew(-8deg);
      transform: skew(-8deg);
    }
    33.3% {
      -webkit-transform: skew(6deg);
      transform: skew(6deg);
    }
    49.95% {
      -webkit-transform: skew(-3deg);
      transform: skew(-3deg);
    }
    66.6% {
      -webkit-transform: skew(2deg);
      transform: skew(2deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }

.smile > img
{
    height: 10vw;
    width: 10vw;
}



/* Top-Influencer */

.section4
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.row1
{
    display: flex;
    width: 100%;
}
.items1
{
    /* position: absolute; */
    background: linear-gradient(to Bottom, #52c9fa, #009ee8);
    /* height: 22vw; */
    width: 18vw;
    border-radius: 3.2vw 3.2vw 0.8vw 0.8vw;
    justify-content: center;
    /* margin: 1rem 2rem; */
    /* margin: 0; */
}

.box
{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items2
{
    position: relative;
    background: linear-gradient(to Bottom, #837aff, #453cc9);
    border-radius: 2vw;
    width: 13vw;
    height: 3.5vw;
display: flex;
align-items: center;
justify-content: center;
    /* left: 3.5vw; */
    bottom: -2vw;
    /* margin-bottom: -2vw; */
    z-index: 999;
    /* margin-top: 7vw; */
    padding: 1.7vw;
}
.items2 > h2
{
    color: white;
    font-size: 1.3vw;
}
.item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.item> img
{
    height: 11vw;
    width: 60% !important;
    margin-top: 3vw;
    border-radius: 5.5vw 5.5vw 0.8vw 0.8vw;
    border: 1px solid white;
}

.item> h2{
    margin-top: 0.8vw;
    font-size: 1.2vw;
    color: white;
}

.owl-dots
{
    margin-top: -6px !important;
}
.owl-theme .owl-dots .owl-dot {
zoom: 0.5 !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 6px !important;
    height: 6px !important;
    margin: 2px 2px !important;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffc100 !important;
}


   .owl-carousel.owl-drag .owl-item.center > div {
      width: 21vw !important;
      height: 16vw !important;
   margin-left: -2vw !important;
margin-top: -2.8vw !important;

   
  } 


  .cent 
  {
    height: 10vw !important;
    width: 16vw !important;
    /* border-radius: 1rem; */
    display: flex !important;
    justify-content: center;
    align-items: center;
   /* margin: 0px !important; */
/* background: linear-gradient(to right,#ffffff 20%,#ffffff 60%); */
/* background: linear-gradient(to Bottom,#a3a1a1,transparent,#a3a1a1); */
  }
  .brandBox
  {
      height: 65% !important;
      width: 64% !important;
      border-radius: 1rem;
      display: flex !important;
      justify-content: center;
      align-items: center;
     margin: 0px !important;
     background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.6)
    )
    padding-box,
  linear-gradient(
      to right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.3)
    )
    border-box;
    border: 3px solid rgba(255, 255, 255, 0.6);
  /* background: linear-gradient(to right,#ffffff 20%,#ffffff 60%); */
  /* background: linear-gradient(to Bottom,#a3a1a1,transparent,#a3a1a1); */
  }
 
  .item123
  {
    width: 50% !important;
    height: 50% !important;
  }
  /* .owl-stage-outer
  {
    height: 20vw !important;
  } */

  .lorem
  {
      display: flex;
      width: 100%;
      height: 12rem;
      justify-content: center;
      align-items: center;
  }

  .lor
  {
      display: flex !important;
      width: 90% !important;
      height: 100% !important;
      justify-content: center !important;
  }

  /* .owl-nav{
      display: flex !important;
  }
.owl-prev{
    display: flex !important;
} */
/* .owl-next 
{
    display: flex !important;
} */

  .owl-carousel .owl-nav button.owl-prev {
    border: 1px solid white !important;
    border-radius: 50%;
  background-color: white !important;
  color: #102754 !important;
  border: none;
  padding: 0 !important;
  font-weight: bolder !important;

    position: absolute;
margin-left: -83vw;
margin-top: 3.5vw;
width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}




 .owl-carousel .owl-nav button.owl-next {
    border: 1px solid white !important;
    border-radius: 50%;
  background-color: white !important;
  color: #102754 !important;
  border: none;
  padding: 0 !important;
  font-weight: bolder !important;

    position: absolute;
margin-left: 2.5vw;
margin-top: 3.5vw;
width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}



@media only screen and (max-width: 700px) {
  .main-page{
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
    .owl-carousel .owl-nav button.owl-prev{
        margin-left: -80vw;
margin-top: 3.5vw;
    }

    .owl-carousel .owl-nav button.owl-next{
        margin-left: 3.8vw;
margin-top: 3.5vw;
    }
    .owl-dots
    {
        margin-top: -17px !important;
    }
    .owl-theme .owl-dots .owl-dot {
        zoom: 0.3 !important;
        }
        .main-page {
            padding-left: 35px;
            padding-right: 35px;
        } 
        .smile {
            left: -3vw;
        } 
        .section3box
{
   
height: 4rem;

}
.items1
{

    width: 33vw;
    border-radius: 1.2rem 1.2rem 0.5rem 0.5rem;

}
.item> img {
  height: 4.5rem;
  width: 63% !important;
  margin-top: 4.5vw;
  /* margin-left: 3vw; */
    border-radius: 2.5rem 2.5rem 0.5rem 0.5rem;
  

}
.item> h2 {
  margin-top: 1.8vw;
  font-size: 2.4vw;
  /* margin-left: 3vw; */
}
.items2
{
  width: 4.5rem;
  height: 1rem;
}
.items2 > h2 {
  color: white;
  font-size: 2.3vw;
  margin-top: 1.4vw;
}
.cent 
{
  height: 17vw !important;
  width: 25vw !important;
}
.brandBox
{
  border: 2px solid rgba(255, 255, 255, 0.6);
}
.owl-carousel.owl-drag .owl-item.center > div {
  width: 29vw !important;
  height: 21vw !important;
}
.lorem
{
    height: 4rem;
}
}
 




/* Product Promotion CSS  */




/* .prodProm1{
  height: 8.5rem;
} */


.prodProm1
{
  color: #ffffff;
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 3.2vw;
/* line-height: 180px;  */
} 
 .prodProm1> span
{
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 3.2vw;
/* line-height: 180px; */
} 

.prodProm2
{
  font-family: 'Gilroy-Medium';
font-size: 1.3vw;
line-height: 28px;
color: #FFFFFF;
width: 34vw;
}

.prodProm3
{
  font-family: 'Gilroy-Bold';
  font-size: 1.9vw;
  line-height: 30px;
  color: #62C9FA;
  margin-top: 2vw;
}

.prodProm3img 
{
  width: 2.1vw;
  height: 2.1vw;
  margin-bottom: 5px;
}

.prodPromImg123
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.prodPromImg
{
  width: 20vw;
  height: 19vw;

  transform: rotate(12.46deg);


  background-color: rgba(255, 255, 255, 0.126);
  border-radius: 25px;
    border: 1px solid;
    -moz-box-shadow:    inset 0 0 50px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.3);
    box-shadow:         inset 0 0 50px rgba(255, 255, 255, 0.3);
    border-color: transparent;
  


border-color: transparent;
display: flex;
justify-content: center;
align-items: self-end;
animation: move 4s linear infinite;
}

.prodPromImg1
{
  position: absolute;
width: 16vw;
height: 13vw;
/* left: 1072px;
top: 1536px; */
display: flex;
justify-content: center;
background: linear-gradient(180deg, #FFC100 0%, #E8AF00 100%);
border-radius: 25px;
animation: mymove 2.5s infinite forwards;

}

@keyframes mymove {
  from {top: 100px;}
  to {top: -105px;}
}





.prodPromImg1 > img
{
  transform: rotate(-8.46deg);
  height: 16.4vw;
  margin-top: -2.7vw;

}




.prodProm123B
{
    flex: 0 0 auto;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: self-end;
    text-align: end;
    margin-top: 4vw;
}
/* 
.prodProm1B{
  height: 8.5rem;
} */

.prodProm12B 
{
  display: flex;
  justify-content: center;
  align-items: center;
}


.prodProm1B
{
  color: #ffffff;
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 3.2vw;
/* line-height: 180px; */
}
.prodProm1B> span
{
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 3.2vw;
/* line-height: 180px; */
}

.prodProm2B
{
  font-family: 'Gilroy-Medium';
font-size: 1.3vw;
line-height: 28px;
color: #FFFFFF;
width: 34vw;
}

.prodProm3B
{
  font-family: 'Gilroy-Bold';
  font-size: 1.9vw;
  line-height: 30px;
  color: #62C9FA;
  margin-top: 2vw;
}

.prodProm3Bimg 
{
  width: 2.1vw;
  height: 2.1vw;
  margin-bottom: 5px;
}


.prodProm3imgB
{
  width: 2.1vw;
  height: 2.1vw;
  margin-bottom: 5px;
}

.prodPromImgB
{
margin-top: 1rem;
}

.imageMain
{
height: 27vw;
width: 40vw;
  animation: float 2s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0px, 7px);
  }
}



.Vector7
{
  position: relative;
  left: -15vw;
  top: 6vw;
  animation: float 2s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0px, 7px);
  }
}
.Vector8
{
  position: relative;
  left: -17vw;
  top: -2vw;
  animation: float 2s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0px, 7px);
  }
}
.Vector9
{
  position: relative;
  left: 22vw;
  top: -16vw;
  animation: float 2s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0px, 7px);
  }
}
.Vector10
{
  position: relative;
  left: 17vw;
  top: -7vw;
  animation: float 2s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0px, 7px);
  }
}
.Vector11
{
  position: relative;
 
  left: -15vw;
  top: -4vw;
  animation: float 2s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0px, 7px);
  }
}
.Vector12
{
  position: relative;
  left: -4vw;
  top: -9.5vw;
  animation: float 2s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0px, 7px);
  }
}
.Vector13
{
  position: relative;
  left: -1vw;
  top: -2vw;
animation: float 2s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0px, 7px);
  }
}

.brandcol
{
  margin-top: 10vw;
}

.brandcolB
{
  margin-top: 10vw;
}



@media only screen and (max-width: 700px) {


  .brandcol
{
  flex-direction: column-reverse;
}

.brandcolB
{
  flex-direction: column;
}

.prodProm1{
  color: #ffffff;
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
/* font-size: 4.2vw; */
/* line-height: 180px; */
}


 .prodProm1
{
  color: #ffffff;
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 4.2vw;
/* line-height: 180px; */
} 
 .prodProm1> span
{
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 4.2vw;
/* line-height: 180px; */
} 

.prodProm2
{
  font-family: 'Gilroy-Medium';
font-size: 2.3vw;
line-height: 13px;
color: #FFFFFF;
width: 100%;
}

.prodProm3
{
  font-family: 'Gilroy-Bold';
  font-size: 1.9vw;
  line-height: 30px;
  color: #62C9FA;
  margin-top: 2vw;
}

.prodProm3img 
{
  width: 3.2vw;
  height: 3.2vw;
}



.prodProm123B
{
    flex: 0 0 auto;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin-top: 4vw;
}

.prodProm1B{
  color: #ffffff;
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
/* font-size: 4.2vw; */
/* line-height: 180px; */
}


 .prodProm1B
{
  color: #ffffff;
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 4.2vw;
/* line-height: 180px; */
} 
 .prodProm1B> span
{
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 4.2vw;
/* line-height: 180px; */
} 

.prodProm2B
{
  font-family: 'Gilroy-Medium';
font-size: 2.3vw;
line-height: 13px;
color: #FFFFFF;
width: 100%;
}

.prodProm3B
{
  font-family: 'Gilroy-Bold';
  font-size: 1.9vw;
  line-height: 30px;
  color: #62C9FA;
  margin-top: 2vw;
}

.prodProm3Bimg 
{
  width: 3.2vw;
  height: 3.2vw;
  margin-bottom: 5px;
}
.prodPromImg
{
  width: 35vw;
  height: 27vw;
}

.prodPromImg1
{
width: 26vw;
height: 20vw;
}

@keyframes mymove {
  from {top: 35px;}
  to {top: -38px;}
}





.prodPromImg1 > img
{
  transform: rotate(-8.46deg);
  height: 16.4vw;
  margin-top: -2.7vw;

}
.prodPromImg123
{
  margin-bottom: 8vw;
}
.prodProm12B
{
  margin-bottom: 8vw;
}
.imageMain {
  height: 35vw;
  width: 50vw;
}


}







/* Our Work  */




.promMainBox
{

  width: 524px;
height: 488px;
  background: linear-gradient(
    to left,
    rgba(96, 21, 167, 0.3),
    rgba(69, 23, 134, 0.6)
  )
  padding-box,
linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  )
  border-box;
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 30px;
}
.promHead
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 524px;
height: 58px;
  background: linear-gradient(
    to left,
    rgba(207, 189, 223, 0.3),
    rgba(193, 170, 225, 0.6)
  )
  padding-box,
/* linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  )
  border-box;
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 30px; */
}
.headImg
{
  width: 60px;
height: 60px;
background: #FFFFFF;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.headImg > img
{
  width: 20px;
height: 37px;
}
.promBox
{
  display: flex;
  justify-content: space-evenly;
}

.promBox1
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.promBox1 > h2
{
  font-family: 'Gilroy-Bold';
font-size: 24px;
line-height: 22px;
text-transform: capitalize;
color: #62C9FA;
}

.promBox1 > p
{
  font-family: 'Gilroy-Medium';
font-size: 14px;
line-height: 22px;
color: #FFFFFF;
}
.promNum 
{
  font-family: 'Gilroy-Bold';
font-size: 36px;
line-height: 22px;
text-align: center;
text-transform: capitalize;
color: #FFC100;
}

.promTotal
{
  font-family: 'Gilroy-SemiBold';
font-size: 12px;
line-height: 22px;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}
.promBox2
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 127.7px;
height: 430px;
}
.promBox2 >img
{
  height: 268px;
  width: 130.62px;
}
.promBox12
{
  width: 263px;
height: 87px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.promBox12> div
{
  display: flex;
  flex-direction: column;
}

.CaseStudyButton
{
  width: 110px;
height: 35px;
  background: linear-gradient(180deg, #62C9FA 0%, #009EE8 100%);
border-radius: 51px;
border: #009ee8;
display: flex;
justify-content: space-around;
align-items: center;
text-align: center;
}
.CaseStudyButton > h2
{

  font-family: 'Gilroy-Bold';
  font-size: 12px;
  color: #FFFFFF;
  margin: 0px;
  padding: 0.4rem 0rem;
}

/* .video_progress_line
{
  width
} */
.Maine_elements{
  display:flex;
  align-items: space-between;
}
.scroll_elements span{
  color: #ffffff;
  height: auto;
  }
.scroll_elements{
  width: 5px;
  height: 200%;
  background-color: #ffc100;
  margin-top: 3.5%;
  position:absolute;
}

.scroll_elements1
{
  color: white;
  position: relative;
  right: 4vw;
}

.progress.vertical {
  position: relative;
  width: 20px;
  min-height: 240px;
  float: left;
  margin-right: 20px;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
